<div>
    <div>
        <button id="backup" @onclick="HandleBackup">Backup</button>        
    </div>
    <div>
        <button id="restore" @onclick="HandleRestore">Restore</button>
    </div>
</div>

