@page "/"
@* @implements IAsyncDisposable *@
@inject IJSRuntime JS
@inject IBackupRestoreIndexedDbService BackupRestoreIndexedDbService

<h1>Calling JavaScript</h1>

<button @onclick="PrintStoreNames" id="btn">Click Me!</button>

@code{

    private void PrintStoreNames()
    {
        BackupRestoreIndexedDbService.BackupDatabaseAsync();
    }

    // private IJSObjectReference? _module;
    // private string str = "";

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         _module = await JS.InvokeAsync<IJSObjectReference>("import", "./pages/Home.razor.js");


    //         await module.InvokeAsync<object>("addHandlers");
    //     }
    // }

    // private async Task GetFileHandle()
    // {
    //     var jSObjectReference = await _module.InvokeAsync<IJSObjectReference>("getDirHandle");
        

    //     var folderHandle = FileSystemDirectoryHandle.Create(JS, jSObjectReference);
    // }

    // async ValueTask IAsyncDisposable.DisposeAsync()
    // {
    //     if (_module is not null)
    //     {
    //         await _module.DisposeAsync();
    //     }
    // }
    
}