@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar row">
        <div >
            <NavMenu />
        </div>
        <div class="m-1">
            <hr style="color:White"/>
            <BackupRestoreComponent  />
        </div>        
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
